.container{
    display: flex;
    /* flex-wrap: wrap; */
}

.item1,.item2{
    text-align: center;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin: 20px;
}

.item1{
    order: 6;
}

.item2{
    order:5;
}