* {

    margin: 0;
    padding: 0;
    font-family: "Montserrat";

}

body {
    background-color: #000101;
}



/* navbar styling */
.navbar {

    display: flex;
    margin: 20px 40px;
    align-items: center;


}




.list {
    color: #FEFEFF;
    display: flex;
    list-style-type: none;
    gap: 65px;
    margin: 0 170px;
}

.navbar img {
    width: 80px;
    position: relative;
    top: 2px;
}

.line {
    border-left: 1px solid #FEFEFF;
    height: 50px;
    position: relative;
    left: 80px;
}

.button-small {

    background-color: #BA0DC4;
    color: #FEFEFF;
    border: 0;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}


.hero {
    color: #FEFEFF;
    height: 100vh;
    background-image: url(./assets/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.hero-heading {

    

    font-size: 70px;
    padding-top: 120px;
    padding-left: 320px;
    padding-right: 50px;


}




.hero-description {

    font-weight: 100;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    /* align-items: center; */


}



.button-large {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FEFEFF;
    background-color: #BA0DC4;
    padding: 20px;
    font-size: 20px;
    border: 0px;
    margin-left: 490px;
    margin-top: 40px;
    
}